<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model</title>
</head>

<body>
    <div id="app">
        <input type="text" value="input value" v-model="inputText">
        <p>inputText: {{ inputText}}</p>
        <textarea name="" id="" cols="30" rows="10" v-model="inputText"></textarea>
        <br>
        <input type="checkbox" name="box1" id="box1" v-model="inputText" value="box1" >
        <label for="box1">input</label>
        <br>
        <select name="" id="" v-model="education">
            <option value="请选择你的学历" disabled>请选择你的学历</option>
            <option value="本科">本科</option>
            <option value="硕士">硕士</option>
            <option value="博士">博士</option>
        </select>
        你的学历是：{{education}}
        <br>
        <select name="" id=""multiple  v-model="searchs" >
            <option v-for="item in search"  :value="item.name">{{item.name}}</option>
        </select>
        {{searchs}}
    </div>
</body>
<script src="./js/vue.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            inputText: [],
            education:"",
            searchs:[],
            search:[
                {name:"百度",value:"www.baidu.com"},
                {name:"谷歌",value:"www.google.com"},
                {name:"必应",value:"www.bing.com"}
            ]
        }
    })
</script>

</html>